.list {
list-style-type: none;
}

.link {
    text-decoration: none;
}

button {cursor: pointer;}

body {
    font-family: 'Roboto' , sans-serif;
}

.logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        
}
.logo-word2 {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.33;
    /* 150% */
    letter-spacing: 0.017em;
}

.menu-link:hover ,
.menu-link:focus {
color: #404BBF;
}