.list {
list-style-type: none;
}

.link {
    text-decoration: none;
}

button {cursor: pointer;}

.logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        
}